* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  background-color: #000;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  text-align: center;
  align-items: center;
  background-color: #222222;
  color: #fff;
}

h1 {
  padding: 25px;
}

h2 {
  color: #000000;
  padding: 12px 0 0 0;
}

.topic-desc {
  padding: 12px 0;
}

nav {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 30px;
}

.topic-img {
  border-radius: 25px;
  border-top-left-radius: 0;
  object-fit: cover;
  width: 100%;
}

form {
  margin: 10px 0 0 0;
  color: #fff;
  background-color: #000000;
  padding: 20px;
  border-radius: 25px;
  border-top-left-radius: 0;
  box-shadow: 0 2px 5px #ffffff1a;
}

label {
  display: block;
  font-size: .9rem;
}

section {
  background-color: #5d5d5d;
  padding: 10px;
  border-radius: 25px;
  border-top-left-radius: 0;
}

input,
textarea,
button {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-top-left-radius: 0;
  width: 100%;
  box-shadow: 2px 2px 3px #ffffff1a;
  margin-bottom: 10px;
}

input:invalid {
  border: 1.5px solid red;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 15px 10px;
  box-shadow: none;
  width: max-content;
}

.click-label {
  display: inline;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #c9c9c9;
  transition: all 0.15s ease-in;
}

textarea {
  max-width: 419px;
  max-height: 100px;
  min-height: 30px;
}

input:focus {
  outline: none;
  background-color: #f2f2f2;
}

input:disabled {
  background-color: #c9c9c9;
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 15px;
}

hr {
  margin: 0 0 10px 0;
}

@media (max-width:1000px) {
  main {
    grid-template-columns: 1fr;
  }
}